extends ./template/index

block content
    section.content
        div.nav-tabs-custom
            ul.nav.nav-tabs
                li.active
                    a(href="#tab_1" data-toggle="tab") 审批
            div.tab-content
                div#tab_1.tab-pane.active
                    table#approve_table.table.table-bordered.table-hover.dataTable(role="grid" aria-describedby="approve_table_info" width="100%")
                        thead
                            tr
                                th.category(width="15%")
                                th.title(width="30%")
                                th.status(width="10%")
                                th.startDate(width="20%")
                                th.priority(width="10%")
                                th.schedule(width="15%")

block headpart
    link(rel='stylesheet' href='plugins/datatables/dataTables.bootstrap.css')

block scripts
    script(src='plugins/datatables/jquery.dataTables.min.js')
    script(src='plugins/datatables/dataTables.bootstrap.min.js')
    
    script.
        $(document).ready( function () {
            $('#approve_table').DataTable({
                ajax: {
                    url: '/api/approve_data',
                    dataSrc: 'data'
                },
                columns: [
                    {data: 'category', title: '类别'},
                    {data: 'title',    title: '申请表单名'},
                    {data: 'status',   title: '状态'},
                    {data: 'startDate',title: '发起日期'},
                    {data: 'priority', title: '优先级'},
                    {data: 'schedule', title: '进度'}
                ],
                language: {
                    url: '/mypublic/others/chinese.json'
                },
                autoWidth: false,
                order: [[3, 'desc']]
            });
        } );
