doctype html
html
    head
        meta(charset='utf-8')
        title 公文流转系统 | 登陆
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
        link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='font-awesome/css/font-awesome.css')
        link(rel='stylesheet' href='mypublic/stylesheets/SourceSansPro.css')
        link(rel='stylesheet' href='ionicons/css/ionicons.min.css')
        link(rel='stylesheet' href='dist/css/AdminLTE.min.css')
        link(rel='stylesheet' href='plugins/iCheck/square/blue.css')
    body.hold-transition.login-page
        div.login-box
            div.login-logo
                a(href='#')
                    b 公文流转
            div.login-box-body
                if loginfailed == 'yes'
                    p#loginMsg.login-box-msg(style='color:#dd4b39') 用户名或密码错误
                else    
                    p#loginMsg.login-box-msg 登陆以开始你的工作
                form(action='/login' method='POST')
                    div.form-group.has-feedback
                        input#username.form-control(type='email' placeholder='E-mail' name='username' autofocus="autofocus" onblur='checkEmail()')
                        span.glyphicon.glyphicon-envelope.form-control-feedback
                    div.form-group.has-feedback
                        input.form-control(type='password' placeholder='Password' name='password')
                        span.glyphicon.glyphicon-lock.form-control-feedback
                    div.row
                        div.col-xs-8
                            div.checkbox.icheck
                                label
                                    input(type='checkbox' name='autologin')
                                    |  自动登陆
                        div.col-xs-4
                            div.checkbox(style='text-align:center')
                                a 忘记密码
                    div.row
                        div.col-xs-4
                            a.btn.btn-primary.btn-block.btn-flat(href='/register') 注册
                        div.col-xs-offset-4.col-xs-4
                            button.btn.btn-primary.btn-block.btn-flat(type='submit' onclick='return check()') 登陆
                
        script(src='mypublic/javascripts/jquery.min.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='plugins/iCheck/icheck.min.js')
        script.
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%'
                });
            });
        script.
            function checkEmail(checkblank) {
                var username = document.getElementById('username');
                var msg  = document.getElementById('loginMsg');
                var pattern = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
                if ((checkblank && !pattern.test(username.value)) 
                 || (!checkblank && username.value.length != 0 && !pattern.test(username.value))
                    ) {  
                    msg.innerHTML = '邮箱格式有误，例:OA_filehandle@oa.com';
                    msg.style.color = '#dd4b39';
                    username.value = '';
                    username.focus();
                    username.parentNode.className = 'form-group has-error';
                    return false;  
                }
                if(username.value.length != 0){
                    username.parentNode.className = 'form-group has-feedback';
                    msg.innerHTML = '邮箱格式验证正确';
                    msg.style.color = '#444';
                }
                return true;    
            }
        script.
            function check(){
                if(checkEmail(true))
                    return true;
                return false;
            }
