extends ./template/index

block content
    section.content
            div.box.box-primary
                div.box-header.with-border
                    h6.box-title(style='font-size:14px;font-weight:normal') 职位管理
                form.form-horizontal(action="/position" method="post")
                    div.box-body
                        div.box.box-default
                            div.box-header.with-border
                                div.row
                                    div.col-sm-2
                                        h4 总经理
                                    div.col-sm-2.user-block
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                        div.box.box-default.collapsed-box
                            div.box-header.with-border
                                div.row
                                    div.col-sm-2
                                        h4 销售部
                                    div.col-sm-2.user-block
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                div.box-tools.pull-right
                                    button.btn.btn-box-tool(data-widget="collapse")
                                        i.fa.fa-plus
                            div.box-body
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 第一销售组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 核心策略组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 执行组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 统计组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                        div.box.box-default.collapsed-box
                            div.box-header.with-border
                                div.row
                                    div.col-sm-2
                                        h4 销售部
                                    div.col-sm-2.user-block
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                div.box-tools.pull-right
                                    button.btn.btn-box-tool(data-widget="collapse")
                                        i.fa.fa-plus
                            div.box-body
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 第一销售组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 核心策略组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 执行组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 统计组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员    
                        div.box.box-default.collapsed-box
                            div.box-header.with-border
                                div.row
                                    div.col-sm-2
                                        h4 销售部
                                    div.col-sm-2.user-block
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                div.box-tools.pull-right
                                    button.btn.btn-box-tool(data-widget="collapse")
                                        i.fa.fa-plus
                            div.box-body
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 第一销售组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 核心策略组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 执行组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                fieldset(style='margin-bottom:30px')
                                    legend 
                                        h4 统计组
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                                    div.user-block.col-sm-2
                                        img.img-circle(src='/mypublic/uploads/logoups/upload_041b4e87c62b400b9a43a39f63a88e05.jpg')
                                        span.username Lanthree Xu
                                        span.description 组员
                    div.box-footer
                        div.row
                            div.col-sm-offset-2.col-sm-7
                                button.btn.btn-danger(type='submit') 确认更改并提交
