extends ./template/index

block content
    section.content
            div.box.box-primary
                div.box-header.with-border
                    h6.box-title(style='font-size:14px;font-weight:normal') 更改个人主页的信息
                form.form-horizontal
                    div.box-body
                        div.form-group.row
                            label.col-sm-2.control-label(for='titleinput') 表单名称
                            div.col-sm-7
                                input#titleinput.form-control(name='tableDesignTitle' onblur='checkTableTitle()')
                        div.form-group.row
                            label.col-sm-2.control-label(for='categoryinput') 表单类型
                            div.col-sm-2
                                select#categoryinput.form-control(name='tableDesignCategary')
                                    option 公办外出
                                    option 人力相关
                                    option 职位相关
                                    option 福利相关
                                    option 物资申退
                                    option 活动申请
                                    option 其他
                        div.form-group.row
                            label.col-sm-2.control-label(for='designinput') 表单内容
                            div.col-sm-5
                                div#designinput.form-control(width='100%' ondrop="drop(event)" ondragover="allowDrop(event)")
                            div.col-sm-5
                                div(width='100%' style="border-left: 2px dashed #BBB;")
                                    div#daterange.form-group.row(name="daterange" draggable="true" ondragstart="drag(event, 'daterange')")
                                        label.col-sm-3.control-label 时间范围
                                        div.col-sm-9
                                            div.input-group
                                                div.input-group-addon
                                                    i.fa.fa-calendar
                                                input.form-control.daterange(type="text")
                                    div#datepicker.form-group.row(name="datepicker" draggable="true" ondragstart="drag(event, 'datepicker')")
                                        label.col-sm-3.control-label 日期选取
                                        div.col-sm-9
                                            div.input-group
                                                div.input-group-addon
                                                    i.fa.fa-calendar
                                                input.form-control(type="text" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask name='datepicker')
                                    div#textinline.form-group.row(name="textinline" draggable="true" ondragstart="drag(event, 'textinline')")
                                        label.col-sm-3.control-label 文本框
                                        div.col-sm-9
                                            input.form-control
                                    div#textarea.form-group.row(name="textarea" draggable="true" ondragstart="drag(event, 'textarea')")
                                        label.col-sm-3.control-label 多行文本
                                        div.col-sm-9
                                            textarea.form-control
                                    div#dropmenu.form-group.row(name="dropmenu" draggable="true" ondragstart="drag(event, 'dropmenu')")
                                        label.col-sm-3.control-label 下拉菜单
                                        div#isdropmenu.col-sm-9
                                            select.form-control
                                                option 选项 1
                                                option 选项 2
                                                option 选项 3
                                    div#checkbox.form-group.row(name="checkbox" draggable="true" ondragstart="drag(event, 'checkbox')")
                                        label.col-sm-3.control-label 复选框
                                        div#ischeckbox.col-sm-9
                                            div.checkbox
                                                label
                                                    input(type='checkbox') 
                                                    | 选项 1
                                            div.checkbox
                                                label
                                                    input(type='checkbox') 
                                                    | 选项 2
                                            div.checkbox
                                                label
                                                    input(type='checkbox') 
                                                    | 选项 3    
                                    div#radio.form-group.row(name="radio" draggable="true" ondragstart="drag(event, 'radio')")
                                        label.col-sm-3.control-label 单选框
                                        div#isradio.col-sm-9
                                            div.radio
                                                label
                                                    input(type='radio' name='radio') 
                                                    | 选项 1
                                            div.radio
                                                label
                                                    input(type='radio' name='radio') 
                                                    | 选项 2
                                            div.radio
                                                label
                                                    input(type='radio' name='radio') 
                                                    | 选项 3    
                div.box-footer
                    div.row
                        div.col-sm-offset-2.col-sm-7
                            button#wkaka.btn.btn-danger(onclick='sendTable()') 确认提交
    div#labelEditPopover
        div#popover-head.hide 编辑属性
        div#popover-content.hide
            div.form-horizonta
                div
                    label.control-label 表项名称
                    input.form-control(type='text' id='namevalue' placeholder='请输入此表项名称' autofocus='autofocus')
                hr(style='margin:5px auto 5px')
            button.btn.btn-primary(type='button' onclick='namePopOk()') 确定
            button.btn.btn-danger(type='button' style='float:right' onclick='closePop()') 取消
            
    div#plentyEditPopover
        div#popover-head.hide 编辑属性
        div#popover-content.hide
            div
                label.control-label 表项名称
                input.form-control(type='text' id='namevalue' placeholder='请输入此表项名称' autofocus='autofocus')
            div
                label.control-label 选项设置(一行对应一项)
                textarea.form-control(rows='6' id='contentvalue')
            hr(style='margin:5px auto 5px')
            button.btn.btn-primary(type='button' onclick='plentyPopOk()') 确定
            button.btn.btn-danger(type='button' style='float:right' onclick='closePop()') 取消
    
block headpart
    link(rel='stylesheet' href='/plugins/daterangepicker/daterangepicker-bs3.css')
    link(rel='stylesheet' href='/mypublic/stylesheets/tableDesign.css')

block scripts
    script(src='/plugins/daterangepicker/moment.js')
    script(src='/plugins/daterangepicker/daterangepicker.js')
    script(src='/plugins/input-mask/jquery.inputmask.js')
    script(src='/plugins/input-mask/jquery.inputmask.date.extensions.js')
    script(src='/plugins/input-mask/jquery.inputmask.extensions.js')
    script(src='/mypublic/javascripts/uuid.js')
    script(src='/mypublic/javascripts/tableDesign.js')
    script.
        function checkTableTitle(){ //要用传参... 只能把这东西放在jade里面了
            var tmpTitle = $("#titleinput").val();
            var tabs = [!{tables}], find = 0;
            for (var idx in tabs)
                if(tmpTitle == tabs[idx].title){
                    $("#titleinput").val('');
                    $("#titleinput").attr('placeholder', '表名称已经被使用');
                    $("#titleinput").parent().addClass('has-error');
                    find = 1;
                    break;
                }
            if(find == 0){
                $("#titleinput").parent().removeClass('has-error');
            }
        }
