extends ./template/index

block content
    section.content
            div.box.box-primary
                div.box-header.with-border
                    h6.box-title(style='font-size:14px;font-weight:normal') 更改个人主页的信息
                form.form-horizontal(action="/setting_upload" method="post")
                    div.box-body
                        div.form-group.row
                            label.col-sm-2.control-label(for='titleinput') 表单名称
                            div.col-sm-7
                                input#titleinput.form-control(name='tableDesignTitle')
                        div.form-group.row
                            label.col-sm-2.control-label(for='categoryinput') 表单类型
                            div.col-sm-2
                                select#categoryinput.form-control(name='tableDesignCategary')
                                    option option 1
                                    option option 1
                                    option option 1
                                    option option 1
                                    option option 1
                        div.form-group.row
                            label.col-sm-2.control-label(for='designinput') 表单内容
                            div.col-sm-5
                                div#designinput.form-control(width='100%')
                            div.col-sm-5
                                div(width='100%' style="border-left: 2px dashed #BBB;")
                                    div.form-group.row
                                        label.col-sm-3.control-label 时间范围
                                        div.col-sm-9
                                            div.input-group
                                                div.input-group-addon
                                                    i.fa.fa-calendar
                                                input.form-control(type="text" name="daterange")
                                    div.form-group.row
                                        label.col-sm-3.control-label 日期选取
                                        div.col-sm-9
                                            div.input-group
                                                div.input-group-addon
                                                    i.fa.fa-calendar
                                                input.form-control(type="text" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask name='datepicker')
                                    div.form-group.row
                                        label.col-sm-3.control-label 文本框
                                        div.col-sm-9
                                            input.form-control
                                    div.form-group.row
                                        label.col-sm-3.control-label 多行文本
                                        div.col-sm-9
                                            textarea.form-control
                                    div.form-group.row
                                        label.col-sm-3.control-label 下拉菜单
                                        div.col-sm-9
                                            select.form-control
                                                option 选项 1
                                                option 选项 2
                                                option 选项 3
                                    div.form-group.row
                                        label.col-sm-3.control-label 复选框
                                        div.col-sm-9
                                            div.checkbox
                                                label
                                                    input(type='checkbox') 
                                                    | 选项 1
                                            div.checkbox
                                                label
                                                    input(type='checkbox') 
                                                    | 选项 2
                                            div.checkbox
                                                label
                                                    input(type='checkbox') 
                                                    | 选项 3    
                                    div.form-group.row
                                        label.col-sm-3.control-label 复选框
                                        div.col-sm-9
                                            div.radio
                                                label
                                                    input(type='radio' name='radio') 
                                                    | 选项 1
                                            div.radio
                                                label
                                                    input(type='radio' name='radio') 
                                                    | 选项 2
                                            div.radio
                                                label
                                                    input(type='radio' name='radio') 
                                                    | 选项 3    
                    div.box-footer
                        div.row
                            div.col-sm-offset-2.col-sm-7
                                button.btn.btn-danger(type='submit') 确认提交
block headpart
    link(rel='stylesheet' href='/plugins/daterangepicker/daterangepicker-bs3.css')

block scripts
    script(src='/plugins/daterangepicker/moment.js')
    script(src='/plugins/daterangepicker/daterangepicker.js')
    script(src='/plugins/input-mask/jquery.inputmask.js')
    script(src='/plugins/input-mask/jquery.inputmask.date.extensions.js')
    script(src='/plugins/input-mask/jquery.inputmask.extensions.js')
    script.
        $(document).ready(function() {
            $("input[name='daterange']").daterangepicker();
            
            $("[date-mask]").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
            $("[data-mask]").inputmask();
            
            $("#designinput").css('height', window.innerHeight*0.7);
        });
