extends ./template/index

block content
    section.content
        div.nav-tabs-custom
            ul.nav.nav-tabs
                li.active
                    a(href="#tab_1" data-toggle="tab") 待处理工作
                li
                    a(href="#tab_2" data-toggle="tab") 发起申请
                li
                    a(href="#tab_3" data-toggle="tab") 发布公告
            div.tab-content
                div#tab_1.tab-pane.active
                    table#not_done_table.table.table-bordered.table-hover.dataTable(role="grid" aria-describedby="not_done_table_info" width="100%")
                        thead
                            tr
                                th.category(width="10%")
                                th.brief(width="35%")
                                th.status(width="10%")
                                th.startDate(width="20%")
                                th.priority(width="10%")
                                th.schedule(width="15%")
                div#tab_2.tab-pane
                    p some thing here too
                div#tab_3.tab-pane
                    form.form-horizontal(action="/notice_upload" method="post")
                        div.box-body
                            div.form-group.row
                                label.col-sm-2.control-label(for='titleinput') 公告标题
                                div.col-sm-7
                                    input#titleinput.form-control(placeholder='建议用《》括起' name='notice_title' required='required')
                            div.form-group.row
                                label.col-sm-2.control-label(for='categoryinput') 公告类别
                                div.col-sm-2
                                    select#categoryinput.form-control(name='notice_category')
                                        option 注意
                                        option 重要
                                        option 紧急
                            div.form-group.row
                                label.col-sm-2.control-label(for='contentinput') 公告内容
                                div.dropbox.col-sm-7
                                    textarea#contentinput.mkFa.form-control(oninput='mkFa2mkSon()' required='required' rows='17' placeholder='请以markdown的格式书写内容，标题建议###' name='notice_content')
                                div.col-sm-3
                                    a.marked-fancybox.btn.bg-olive(href='#inlineMarked' onclick='setTimeout("update()",50)') 使用对比预览
                        div.box-footer
                            div.row
                                div.col-sm-offset-2.col-sm-7
                                    button.btn.btn-danger(type='submit') 确认提交
        div#inlineMarked
            div.row
                div.dropbox.editor-colum.col-sm-6
                    textarea.mkSon.textinput(rows='35' oninput="update()" onscroll="this.rows++;") 请以markdown的格式书写内容，标题建议###
                div.preview-column.col-sm-6
                    div#markdown.preview
                
                    

block headpart
    link(rel='stylesheet' href='/plugins/datatables/dataTables.bootstrap.css')
    link(rel='stylesheet' href='/plugins/fancyBox/source/jquery.fancybox.css')
    link(rel='stylesheet' href='/mypublic/stylesheets/inlineMarked.css')
    link(rel='stylesheet' href='/mypublic/stylesheets/myMarkdown.css')
    link(rel='stylesheet' href='/mypublic/google-code-prettify/tomorrow.css')
    
block scripts
    script(src='/plugins/datatables/jquery.dataTables.min.js')
    script(src='/plugins/datatables/dataTables.bootstrap.min.js')
    script(src='/plugins/filedrop/jquery.filedrop.js')
    script(src='/plugins/fancyBox/source/jquery.fancybox.pack.js')
    script(src='/mypublic/javascripts/marked.js')
    //myMarkdown 
    script(src='/mypublic/javascripts/myMarkdown.js')
    script(src='/mypublic/google-code-prettify/prettify.js')
    
    script.
        $(document).ready( function () {
            $('#not_done_table').DataTable({
                ajax: {
                    url: '/api/not_done_data',
                    dataSrc: 'data'
                },
                columns: [
                    {data: 'category', title: '类别'},
                    {data: 'brief',    title: '概要'},
                    {data: 'status',   title: '状态'},
                    {data: 'startDate',title: '发起日期'},
                    {data: 'priority', title: '优先级'},
                    {data: 'schedule', title: '进度'}
                ],
                language: {
                    url: '/mypublic/others/chinese.json'
                },
                autoWidth: false,
                order: [[3, 'desc']]
            });
        } );
        
    //上传模块
    script.
        $(function () {
            $('.dropbox').filedrop({
                paramname: 'filedrop',
                maxfiles: 5,
                maxfilesize: 5,
                url: "/api/filedrop",
                error: function (err, file) {
                    switch(err) {
                        case 'BrowserNotSupported':
                            alert('浏览器不支持此功能！');
                            break;
                        case 'TooManyFiles':
                            alert('一次上传文件过多，同时不能超过5个！');
                            break;
                        case 'FileTooLarge':
                            alert('文件过大，每个文件最大5mb！');
                            break;
                    }
                },
                uploadFinished: function(i, file, response, time) {
                    var marklink = "[" + file.name + "](" + response.src + ")\n";
                    if(file.type.substring(0,5) == "image"){
                        marklink = "!" + marklink;
                    }
                    $('.mkFa').val($('#contentinput').val() + marklink);
                    $('.mkSon').val( $('.mkFa').val() );
                    update();
                }
            });
        });

    script.
        $(document).ready(function () {
            var width = window.innerWidth*0.65;
            console.log(width);
            $( ".marked-fancybox").fancybox({
                helpers: {
                    overlay: {
                        locked: false
                    }
                },
                autoSize: false,
                width: width
            });
        });

    script.
        function update(){
            $("#inlineMarked .preview").html( marked($("#inlineMarked .textinput").val()) );
            
            var $imgs = $('div#markdown img');
            $imgs.attr('class', 'img-responsive pad');
        
            // 代码高亮
            var $code = $('div#markdown pre');
            $code.attr('class', 'prettyprint linenums');
            prettyPrint();
        
            var $table = $('div#markdown table');
            $table.attr('class', 'table table-bordered table-hover table-striped');
            $(".mkFa").val( $(".mkSon").val() );
        }
        
        function mkFa2mkSon() {
            $(".mkSon").val( $(".mkFa").val() );
        }
