extends ./template/index

block content
    section.content
            div.box.box-primary
                div.box-header.with-border
                    h6.box-title(style='font-size:14px;font-weight:normal') 更改个人主页的信息
                form.form-horizontal
                    div.box-body
                        div.form-group.row
                            label.col-sm-2.control-label(for='titleinput') 流程名称
                            div.col-sm-7
                                input#titleinput.form-control(name='workflowDesignTitle')
                        div.form-group.row
                            label.col-sm-2.control-label(for='categoryinput') 流程类型
                            div.col-sm-2
                                select#categoryinput.form-control(name='workflowDesignCategary' onchange='filteSelect()')
                                    option(selected) 公办外出
                                    option 人力相关
                                    option 职位相关
                                    option 福利相关
                                    option 物资申退
                                    option 活动申请
                                    option 其他
                            label.col-sm-2.control-label(for='tableinput') 所用表单
                            div.col-sm-3
                                select#tableinput.form-control(name='workflowDesignTable')
                        div.form-group.row
                            label.col-sm-2.control-label(for='workflowinput') 流程设计
                            div.col-sm-5
                                table#workflowTable.table.table-bordered
                                    tbody 
                                        tr
                                            th(style='width:10px') #
                                            th(style='width:50%') 阶段
                                            th 成功阶段
                                            th 失败阶段
                                        tr#trOrderS
                                            td 1.
                                            td 流程发起发起
                                            td 下一阶段
                                            td 结束
                                        tr#trOrderE
                                            td 2.
                                            td 流程结果确认
                                            td 结束
                                            td 结束
                            div.col-sm-5
                                a.btn.btn-primary(data-toggle="popover") 添加流程节点
                            div#addWorkstatePopover
                                div#popover-head.hide 添加流程节点
                                div#popover-content.hide
                                    div.form-horizonta
                                        div
                                            label.control-label 流程节点
                                            select#positionvalue.form-control
                                        hr(style='margin:5px auto 5px')
                                    button.btn.btn-primary(type='button' onclick='popOk()') 添加
                                    button.btn.btn-danger(type='button' style='float:right' onclick='closePop()') 取消
                div.box-footer
                    div.row
                        div.col-sm-offset-2.col-sm-7
                            button#wkaka.btn.btn-danger(onclick='sendTable()') 确认提交

block scripts
    script.
        $(function (){
            $("[data-toggle='popover']").popover({
                    html: true,
                    title: function(){
                        return $("#addWorkstatePopover #popover-head").html();
                    },
                    content: function(){
                        return $("#addWorkstatePopover #popover-content").html();
                    },
            });
            
            filteSelect();
            
            var pos = !{posJson};
            for (var key in pos)
                if(key != "0")
                    $("#positionvalue").append("<option>"+pos[key]+"</option>");
        });
        
        function filteSelect() {
            $("#tableinput").empty();
            
            var cate = $("#categoryinput").val();
            var tabs = [!{tables}];
            for (var idx in tabs) {
                if(cate == tabs[idx].category){
                    $("#tableinput").append("<option>"+tabs[idx].title+"</option>");
                }
            }
        }
        
        function closePop(){
            $(".popover").remove();
        }
        function popOk() {
            var stepNo;
            var pos = !{posJson};
            for (var key in pos)
                if(pos[key] == $("#positionvalue").val())
                    stepNo = key;
                    
            var newtr=$("<tr></tr>").html(
                        "<td>" + (($("#workflowTable tbody tr").size())-1).toString() + ".</td>" +
                        "<td class='step" + stepNo + "' name='steps'>" 
                            + $("#positionvalue").val() + " 审核</td>" +
                        "<td>下一阶段</td>" +
                        "<td>结束</td>");
            $("#trOrderE").before(newtr)
            $("#trOrderE td").first().text((($("#workflowTable tbody tr").size())-1).toString()+".");
        }
        
        function sendTable() {
            var tabs = [!{tables}];
            var tableID;
            for (var idx in tabs) {
                if($("#tableinput").val() == tabs[idx].title)
                    tableID = tabs[idx].tableID;
            }
            
            var stepArray = new Array();
            $("td[name='steps']").each(function(idx, obj){
                stepArray[idx] = $(obj).attr('class').substring(4);
            });
                                    
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = stateChange;
            xmlhttp.open("POST","/workflowDesign",true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            var strSend = "tableID=" + tableID
                        + "&workflowTitle=" + $("#titleinput").val()
                        + "&workflowCategary=" + $("#categoryinput").val()
                        + "&workflowDetail=" + stepArray.toString();
            xmlhttp.send(strSend);
        }
        
        function stateChange(){
            location.reload();
        }
