doctype html
html
    head
        meta(charset='utf-8')
        title 公文流转系统
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='/font-awesome/css/font-awesome.css')
        link(rel='stylesheet' href='/mypublic/stylesheets/SourceSansPro.css')
        link(rel='stylesheet' href='/ionicons/css/ionicons.min.css')
        link(rel='stylesheet' href='/dist/css/AdminLTE.min.css')
        link(rel='stylesheet' href='/dist/css/skins/skin-blue.min.css')
        block headpart
    body.hold-transition.skin-blue.sidebar-mini
        block body

        script(src='/mypublic/javascripts/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/dist/js/app.min.js')
        block scripts
